:root {
  --blue: #0036cc;
  --lightblue: #00a0ff20;
  --red: #d32f2e;
  --green: #558b2f;
  --grey: #ececec;
  --disabled: #c0c0c0;
}

div {
  box-sizing: border-box;
}

body {
  user-select: none;
}
